<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBiometriaServicio" receiveTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            
            <!--http://sicep.biometria.servicio/BiometriaServicio.svc -->
            <!--http://localhost:57254/BiometriaServicio.svc-->
            <endpoint address="http://localhost:57254/BiometriaServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometriaServicio" contract="BiometriaBusquedaServicio.IBiometriaServicio" name="BasicHttpBinding_IBiometriaServicio"/>
        </client>
    </system.serviceModel>
</configuration>
